.product {
	border-style: solid;
	border-width: 2px;
	padding-right: 40px;
}
			
.column {
	float: left;
}
			
.left {
	width: 25%;
}
			
.right {
	width: 75%;
}

.center{
	width: 50%;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}
			
.suggested {
	border-style: dashed;
	border-width: 2px;
	padding: 30px;
	width = 100%;
	overflow-x: auto;
}

.suggested a:hover {
	color: #A7E0E1;
}

.suggested a:active {
	color: white;
}
			
table {
	border: solid;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
			
th {
	border: 0.5px solid black;
	padding: 20px;
}
			
td {
	border: 0.5px solid black;
}