/* Style for header excluding View Cart button */
body {
	background-color:#cfdbf0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	font-size: 16px;
}
			
.heading {
	background-color:#FFFFFF;
	padding: 80px 80px 80px 80px;
}

h1 {
	color: black;
	text-align: center;
	font-size: 100px;
}
		

			
			
			
			

				