/* Style for navigation bar */
.navbar {
	background-color: #A7E0E1;
	overflow: hidden;
	width = 100%
}
			
.navbar a {
	float: left;
	display: block;
	padding: 14px 20px;
	text-align: center;
}
			
.navbar a:hover {
	background-color: #009999;
	color: black;
}

.navbar a:active {
	color: white;
}

/* Search field */
.navbar input[type=text] {
	float: right;
	margin: 8px;
	padding: 8px 120px;
	font-size: 16px;
	border: 1px solid black;
}