/* Style for product size */
.size {
	border-radius: 8px;
}
			
.size:hover {
	background-color: #cacccb;
	color: black;
}
			
.size:active {
	background-color: white;
	color: black;
}

/* Size S */	
.sizes {
	font-size: 12px;
}

/* Size M */		
.sizem {
	font-size: 14px;
}

/* Size L */			
.sizel {
	font-size: 16px;
}

/* Size XL */			
.sizexl { 
	font-size: 18px;
}